* {
  color: salmon;
  background-color: black;
  font-family: arial;
  text-align: center;
  border-style: groove;
  border-color: salmon;
}
img {
  border-radius: 50%;
}

h1, h2, h3, p, a {
  border-style: none;
}
h3 {
  color: white;
}
ol {
  border-style: dashed;
  margin: 20px;
  padding: 20px 600px;
}

li {
  border-style: none;
  text-align: left;
}

ul {
  border-style: dashed;
  width: 200px;
  margin: 0px auto;
  padding: 20px 30px;
}
