* {
  color: salmon;
  background-color: black;
  font-family: arial;
  text-align: center;
  border-style: groove;
  border-color: salmon;
}
img {
  border-radius: 50%;
}

h1, h2, h3, p, a {
  border-style: none;
}
h3 {
  color: white;
}
